* {
  margin: 0;
}

.footer {
  align-items: center;
  background-color: #f0f0f0;
  bottom: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  left: 0;
  padding: 10px 0;
  position: fixed;
}

.menufooter {
  align-items: center;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
}
