* {
    margin: 0;
    padding: 0;
}

.carousel {
    display: flex;
    gap: 1rem;
    flex-flow: row nowrap;
    overflow-x: auto;
    padding: 10px;
}

.image {
    width: 163px;
    height: 135px;
    flex-shrink: 0;

    border-radius: 5px 5px 0px 0px;
    background: lightgray -1.5px -53.761px / 123.306% 186.119% no-repeat;
}